<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title> Master login Form Responsive Widget Template  :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/mobile/css/style.css}" rel="stylesheet" type="text/css"/>
<link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet"/>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet"/>
</head>

<body>
	<div class="padding-all">
		<div class="header">
			<h1>Master Login Form</h1>
		</div>

		<div class="design-w3l">
			<div class="mail-form-agile">
				<form>
					<input type="text" name="mobile" id="mobile" placeholder="Tel"/>
					<input type="password"  name="validateCode_sms" id="validateCode_sms" class="padding"/>
					<input type="button" value="Send SMS" th:onclick="'javascript:getCode()'"/>
					<input type="button" value="Sign In" th:onclick="'javascript:login2()'"/>
				</form>
			</div>
		  <div class="clear"> </div>
		</div>
		
		<div class="footer">
		<p>© 2017  Master  Login form. All Rights Reserved | Design by  <a href="https://w3layouts.com/" >  w3layouts </a></p>
		</div>
	</div>
</body>
<script type="application/x-javascript">
	/*<![CDATA[*/
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	/*]]>*/
</script>

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
<!--    <script type="text/javascript" th:src="@{/static/login.js}"></script>-->
<script th:inline="javascript">
	/*<![CDATA[*/
	function getCode() {
		let url = '/captcha/sms?mobile=' + $("#mobile").val();
		$.get(url, function (data) {
			console.info(data);
		});
	}

	function login2() {
		let mobile = $("#mobile").val();
		let code = $("#validateCode_sms").val();

		if(null == mobile || '' == mobile || mobile.length < 1) {
			alert("mobile can not ne null");
			return;
		}

		if(null == code || '' == code || code.length < 1) {
			alert("code can not ne null");
			return;
		}

		let url = '/api/auth/mobile';
		$.post(url, {mobile: mobile, validate_code: code}, function (data) {
			console.info(data);
			if(data.success == true) {
				window.location.href = "/page/index";
			} else {
				alert('login failed!');
			}
		})
	}


	/*]]>*/
</script>
</html>