<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>banana security framework</title>
</head>
<body>

    <h1>login page</h1>

    <form>
        用户名：<input type="text" name="username" id="username" value="qwert"/>
        密码：<input type="password" name="password" id="passwd" value="123456"/>
        <input type="button" value="login" th:onclick="'javascript:login()'"/>
    </form>

</body>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
<!--    <script type="text/javascript" th:src="@{/static/login.js}"></script>-->
    <script th:inline="javascript">
    /*<![CDATA[*/
    function login() {
        let username = $("#username").val();
        let passwd = $("#passwd").val();

        if(null == username || '' == username || username.length < 1) {
            alert("username can not ne null");
            return;
        }

        if(null == passwd || '' == passwd || passwd.length < 1) {
            alert("username can not ne null");
            return;
        }

        let url = '/api/auth';
        $.post(url, {username: username, password: passwd, rememberMe: $("rememberMe").val()}, function (data) {
            console.info(data);
            if(data.success == true) {
                window.location.href = "/page/index";
            } else {
                alert('login failed!');
            }
        })
    }

    /*]]>*/
    </script>
</html>